
        .p{
            background-color: blue;
            color: white;
        }
        .section-2{
            margin: 5% 15%;
            padding: 10% 5%;
            text-align: center;
            background-color: red;
            color: white;
        }
        .button{
            background-color: blue;
            color: white;
            border-color: white;
}
        
        .section-3{
            text-align: center;
            background-color: lightgray;
            font-size: 30px;
            margin: 1% ;
            padding: 2%;
        }
        .a{
            margin-right: 25%;
        }
        .navbar{
            font-size: 20px;
        }
        .section-4{
              font-size: 60px;
              text-align: center;
        }
        .navbar a{
            text-decoration: none;
            color: black;
            font-size: 20px;

        }
    